<div>

    <div ng-repeat="board in boards">
        <div class="left" style="width:10%; text-align: center">
            <img ng-src={{board.surfboard.imageuri}} class="rounded" style="height:75px; width: 25px;">
        </div>
        <div class="left" style="width: 90%">
            <div>
                <span>{{board.surfboard.vendor}}</span>
            </div>
            <div>
                <span>{{board.surfboard.identifier}}</span>
            </div>
            <div>
                <span>{{board.surfboard.category}}</span>
            </div>
            <div>
                <input ng-model="board.quantity" type="number" />
                <span ng-click="update(board, board.quantity)">Update</span>
                <span ng-click="delete(board.surfboard.sku)">Delete</span>
            </div>
        </div>
        <div class="clear"></div>

    </div>

    <hr/>
    <div>
        <span>Merchandise:${{merchTotal}}</span>
    </div>
    <div>
        <span>Shipping: $5</span>
    </div>
    <div>
        <span>Tax: 8%</span>
    </div>
    <div>
        <span>Total: ${{total}}</span>
    </div>
    <div>
        <span><a ui-sref="checkout">Check Out</a></span>
    </div>



</div>