<style>
    .showcase{
        width: 50%;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        background-color: lightyellow;
    }
    .topThree{

    }

</style>

<div  ng-controller="scShowcaseCtrl">

    <div class="showcase">
        <div>
            <label>Vendor:</label>
            <span>{{showcaseSurfboard.vendor}}</span>
        </div>
        <div>
            <label>Category:</label>
            <span>{{showcaseSurfboard.category}}</span>
        </div>
        <div>
            <label>Sku:</label>
            <span>{{showcaseSurfboard.sku}}</span>
        </div>
    </div>

    <div>

        <div class="topThree left">
            <div ng-repeat="board in topThree">
                <div>
                    <label>Vendor:</label>
                    <span>{{board.vendor}}</span>
                </div>
                <div>
                    <label>Category:</label>
                    <span>{{board.category}}</span>
                </div>
                <div>
                    <label>Sku:</label>
                    <span>{{board.sku}}</span>
                </div>
            </div>
        </div>

        <div class="topThree left">
            <div ng-repeat="board in topThree">
                <div>
                    <label>Vendor:</label>
                    <span>{{board.vendor}}</span>
                </div>
                <div>
                    <label>Category:</label>
                    <span>{{board.category}}</span>
                </div>
                <div>
                    <label>Sku:</label>
                    <span>{{board.sku}}</span>
                </div>
            </div>
        </div>

        <div class="topThree left">
            <div ng-repeat="board in topThree">
                <div>
                    <label>Vendor:</label>
                    <span>{{board.vendor}}</span>
                </div>
                <div>
                    <label>Category:</label>
                    <span>{{board.category}}</span>
                </div>
                <div>
                    <label>Sku:</label>
                    <span>{{board.sku}}</span>
                </div>
            </div>
        </div>

    </div>

</div>