<style>
    #selectedContainer{
        width:80%;
        margin-right: auto;
        margin-left: auto;
    }
    .selectedImageContainer{
        min-width: 200px;
        width: 20%;
        text-align: center;
    }
    .selectedDescriptionContainer{
        min-width: 200px;
        width: 60%;
    }
    .button{
        border: 1px solid black;
        padding:0 10px 0 10px;
    }
</style>

<div id="selectedContainer">

    <section class="selectedImageContainer left">
        <img ng-src="{{selectedBoard.imageuri}}">
    </section>

    <section class="selectedDescriptionContainer left">
        <div style="font-size: 1.5em;">
            <span>{{selectedBoard.vendor}}</span>
        </div>
        <div style="font-size: 1.5em;">
            <span style="text-align: left">{{selectedBoard.identifier}}</span>
            <span style="text-align: right;" class="right">${{selectedBoard.price}}</span>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="right" style="width:100%; text-align: right; font-size: 1.5em;">
            <span>11 in stock!</span>
            <br />
            <span>Quantity:</span><input type="text" maxlength="2" ng-model="quantity" style="width: 20px; margin: 0 10px 0 10px; position: relative; top: -3px;">
            <span class="button rounded" ng-click="addToCart(selectedBoard)">Add to <i class="fa fa-shopping-cart"></i></span>
        </div>
        <div class="clear"></div>
        <div style="margin: 25px 0 15px 0; line-height: 2.5em;">
            <div>
                <div style="width: 15%; text-align: right; font-weight: bold;" class="left">
                    <label style="width: 100px; text-align: right;">Description:</label>
                </div>
                <div style="width: 85%;" class="left">
                    <span style="padding:0 15px 0 15px; display: block;">{{selectedBoard.description}}</span>
                </div>
            </div>
            <div>
                <div style="width: 15%; text-align: right; font-weight: bold;" class="left">
                    <label style="width: 100px; text-align: right;">Features:</label>
                </div>
                <div style="width: 85%;" class="left">
                    <span style="padding:0 15px 0 15px; display: block;">{{selectedBoard.features}}</span>
                </div>
            </div>
        </div>
    </section>

</div>