<style>
    #selectedContainer{
        margin-top:45px;
        /*width:80%;*/
        /*margin-right: auto;*/
        /*margin-left: auto;*/
    }
    .selectedImageContainer{
        margin-right:30px;
        /*min-width: 200px;*/
        /*width: 20%;*/
    }
    .selectedDescriptionContainer{
        min-width: 200px;
        width: 60%;
    }
</style>

<div id="selectedContainer">

    <section class="selectedImageContainer left">
        <img ng-src="{{selectedBoard.imageuri}}">
    </section>

    <section class="selectedDescriptionContainer left">
        <div style="font-size: 1.5em;">
            <span>{{selectedBoard.vendor}}</span>
        </div>
        <div style="font-size: 1.5em;">
            <span style="text-align: left">{{selectedBoard.identifier}}</span>
            <span style="text-align: right;" class="right">${{selectedBoard.price}}</span>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="right" style="width:100%; text-align: right; font-size: 1.5em;">
            <span>11 in stock!</span>
            <br />
            <div style="margin-top: 10px;">
                <span>Quantity:</span>
                <input type="text" maxlength="2" ng-model="quantity" style="width: 20px; margin: 0 10px 0 10px; position: relative; top: -3px;">
                <span ng-controller="scButtonCtrl" ng-click="addToCart(selectedBoard)" ng-class="{button: buttonNormal, buttonHover: isButtonHover, buttonClick: isButtonClick}"
                      ng-mouseenter="mouseEnter()" ng-mouseleave="mouseLeave()" ng-mousedown="mouseDown()" ng-mouseup="mouseUp()" class="rounded">
                    Add to <i class="fa fa-shopping-cart"></i>
                </span>
            </div>
            <div ng-hide="hasEnoughStock" style="margin-top: 5px;">
                <span class="right required" style="font-size: 0.6em;">Not enough stock!</span>
            </div>
            <div ng-hide="isGreaterThanZero" style="margin-top: 5px;">
                <span class="right required" style="font-size: 0.6em;">Must be more than 0!</span>
            </div>
        </div>
        <div class="clear"></div>
        <div style="margin: 25px 0 15px 0; line-height: 2.5em;">
            <div>
                <div>
                    <label>Description:</label>
                </div>
                <div>
                    <span>{{selectedBoard.description}}</span>
                </div>
            </div>
            <div>
                <div>
                    <label>Features:</label>
                </div>
                <div>
                    <span>{{selectedBoard.features}}</span>
                </div>
            </div>
        </div>
    </section>

</div>